* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 45px;
  height: 40px;
}

abbr {
  text-decoration: none !important;
}
.last {
  margin-top: 2rem;
}

td {
  font-size: 1rem;
  border-radius: 5px;
  height: 65px;
  width: 65px;
  text-align: center;
}

table {
  margin-top: 10rem;
  margin-left: 20rem;
  border: none;
}
.num {
  margin-right: 3rem;
}
h2 {
  margin-top: -5px;
  font-size: 2rem;
  font-weight: 300;
}
.Last {
  margin-bottom: 50rem;
}
td:hover {
  transform: scale(2);
}
